{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1 class="mt-4">Création d'une offre d'emploi</h1>

        {{ form_start(form) }}

        <div class="form-group">
            {{ form_label(form.titre) }}
            {{ form_widget(form.titre) }}
            {{ form_errors(form.titre) }}
        </div>

        <div class="form-group">
            {{ form_label(form.description) }}
            {{ form_widget(form.description) }}
            {{ form_errors(form.description) }}
        </div>

        <div class="form-group">
            {{ form_label(form.type_contrat) }}
            {{ form_widget(form.type_contrat) }}
            {{ form_errors(form.type_contrat) }}
        </div>

        <div class="form-error">
            {{ form_errors(form) }}
        </div>

        <div class="form-group">
            {{ form_row(form.submit) }}
        </div>

        {{ form_end(form) }}
    </div>
{% endblock %}