{% {% extends 'base.html.twig' %} %}


{% block body %} 

<div class="container mt-4">
        {% if not rendez_vous.items is same as ([]) %}
            <h1 style="text-align: center">Liste des rendez vous</h1>
            <hr class="my-4">

            {%  for message in app.flashes('success') %}
                <div class="alert alert-success mt-4">
                    {{ message }}
                </div>
            {% endfor %}

            <div class="count mt-4">
                <h4 style="color: #1aa990">
                    Nombre total de rendez vous :
                    {{ rendez_vous.getTotalItemCount }}
                </h4>
            </div>

            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Heure</th>
                    <th scope="col">Nom Etudiant</th>
                    <th scope="col">Offre</th>
                    <th scope="col">Statut</th>
                </tr>
                </thead>
                <tbody>
                {% for rendezvous in rendezvous %}
                    <tr class="Default">
                        <th scope="row">{{ rendez_vous.date }}</th>
                        <td>{{ rendez_vous.heure }}</td>
                        <td>{{ rendez_vous.ref_etudiant_id }}</td>
                        <td>{{ rendez_vous.ref_offre_id}}</td>
                        <td>{{ rendez_vous.statut}}</td>
                        <td>
                        
                        </td>
                        <td>
                           
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="navigation d-flex justify-content-center mt-4">
                {{ knp_pagination_render(rendez_vous) }}
            </div>
        {% else %}
            <h4>Il n'y a pas de rendez vous</h4>
        {% endif %}
    </div>
{% endblock %}